venv/**
slides/venv/**
*.pyc
*.swp
*~
prepare-vms/tags
prepare-vms/infra
slides/autopilot/state.yaml
node_modules

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

### Windows ###
# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
